## Indexing DataFrames

In [3]:
### Simple DataFrame
import pandas as pd
df = pd.read_csv('data/sales/sales.csv', index_col='month')
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

In [4]:
# indexing Using Squre Brackets
# 열 브라켓 -> 행 브라켓 순으로 작성.
# 1월에 판매된 소금을 확인
df['salt']['Jan']

12.0

In [6]:
df.salt['Jan']

12.0

In [5]:
df.eggs['Mar']

221

In [7]:
# Using the .loc Accessor
# loc[행지정자, 열지정자]
df.loc['May','spam']

52

In [8]:
# 혹은 iloc 접근자 사용
# 인덱스는 0부터 시작.
df.iloc[4,2]

52

In [9]:
# 몇가지 컬럼만 선택해서 dataframe으로 반환하려면, 반드시 중첩 브라켓 사용.
df_new = df[['salt','eggs']]
df_new

       salt  eggs
month
Jan    12.0    47
Feb    50.0   110
Mar    89.0   221
Apr    87.0    77
May     NaN   132
Jun    60.0   205