In [1]:
# !pip install gpx-csv-converter

1. 패키지 로드(gpx_to_csv)
2. 데이터 불러오기 (운행을 완료후 앱으로 올라오는 GPX를 자동으로 드랍박스에 저장하기. 드랍박스에 저장된 .gpx를 불러오기)
3. csv로 변환하기
4. 변환된 데이터를 빅쿼리에 업로드하기


- 한계점.
    - 상태값을 같이 적재하면 좋은데.
- 상태값 종류
    - 운행시작을 누르면, 기록 <!-- arrived, picked_up, dropped_off -->
    - idle 휴식중(신규배차X)
    - wating 대기중(신규배차ON)
    - picked_up(pickup_point픽업지로 이동중)
    - delivering(delivery_point전달지로 이동중)
    - off(운행종료)
- 적재되는 데이터
    - "timestamp" : 1초 단위 시간(zone : Asia/Seoul )
    - "latitude" : 위도
    - "longitude" : 경도
    - "elevation" : 고도
    - "heart_rate" # 적재안함

In [2]:
from gpx_csv_converter import Converter

In [6]:
Converter(input_file="../../../../Dropbox/gpx/504_20200509095417.gpx", output_file="output.csv")

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('output.csv')
df

                timestamp   latitude   longitude  elevation  heart_rate
0    2020-05-09T12:24:58Z  37.535983  127.075437         27         NaN
1    2020-05-09T12:25:08Z  37.535963  127.075432         27         NaN
2    2020-05-09T12:25:09Z  37.535965  127.075430         27         NaN
3    2020-05-09T12:25:14Z  37.535954  127.075436         27         NaN
4    2020-05-09T12:25:17Z  37.535946  127.075434         27         NaN
..                    ...        ...         ...        ...         ...
656  2020-05-09T12:43:49Z  37.535984  127.075425         29         NaN
657  2020-05-09T12:43:50Z  37.535994  127.075414         29         NaN
658  2020-05-09T12:43:51Z  37.536002  127.075412         29         NaN
659  2020-05-09T12:43:52Z  37.536011  127.075410         29         NaN
660  2020-05-09T12:43:54Z  37.536027  127.075412         30         NaN

[661 rows x 5 columns]

In [12]:
import datetime as dt

In [15]:
df['timestamp'][0]

'2020-05-09T12:24:58Z'

In [17]:
# dt.date('2020-05-09T12:24:58Z')
# dt.datetime('2020-05-09T12:24:58Z')

TypeError: an integer is required (got type str)

In [11]:
# 추가돠면 좋을 컬럼.
# df['date_kr'] #
df['activity_status'] #상태값 idle, call_wating, picked_up, delivering, off
df['velocity'] = ''# 속력